*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    height: 100vh;
}
section{
    display: flex;
    flex-wrap: wrap;
    margin: auto auto;
    width: 50vw;
    height: 50vw;
    background-color: beige;
}
div{
    width: 11.111%;
    height: 11.111%;
    background-color: rgb(161, 115, 98);
    border: 1px solid sienna
}

.bomb{
    background-color: red;
}

.showed{
    background-color: seagreen;
}

.flag{
    background-color: white;
}
